@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
@font-face {
	font-family: 'Jost';
	font-display: swap;
	src: url('/fonts/Jost.woff2') format('woff2');
}

body {
	font-family: 'Jost', system-ui, sans-serif;
	@apply text-xl;
}

h1,
h2,
h3 {
	@apply tracking-tight;
}

/* Header */
header {
	font-weight: 700;
}

header nav li a {
	@apply transition hover:text-blue-700;
}

.active,
.subactive {
	@apply text-blue-700;
}

.menu {
	@apply z-10 flex flex-col text-gray-700 shadow-lg;
	@apply rounded-2xl bg-white;
	@apply mt-1 border border-gray-200 p-3;
	@apply ring-0 !important;
}

.arrow {
	@apply border-l border-t border-l-gray-200 border-t-gray-200;
}

.item {
	@apply z-20 select-none;
	@apply w-full rounded-xl px-4 py-2 transition;
	@apply font-bold tracking-tighter;
	@apply data-[highlighted]:bg-gray-100 data-[highlighted]:text-blue-700;
	@apply ring-0 !important;
}

.animated-header-link {
	position: relative;
}

.animated-header-link:before {
	content: '';
	position: absolute;
	width: 0;
	bottom: -5px;
	left: 0;
	height: 4px;
	background-color: #1d4ed8;
	transition: all 0.15s ease-in-out;
}

.active:before {
	width: 100%;
}

/* Body */
.page-heading {
	@apply mb-4;
	text-align: center;
	font-size: 3rem;
	line-height: 1;
	font-weight: 600;
}

.button-link {
	@apply rounded-full border border-black bg-gradient-to-r px-5 py-2 font-semibold tracking-tight text-white hover:bg-gradient-to-br;
	position: relative;
	top: 0;
	left: 0;
	box-shadow: 4px 4px #000;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.2s;
}

.button-link:active {
	top: 4px;
	left: 4px;
	box-shadow: none;
}

/* /seat */
.seat-tabs {
	@apply space-y-5 rounded-xl border border-slate-500 p-5 shadow;
}

.seat-tabs h2 {
	@apply rounded-xl border border-b-4 border-black bg-white p-3 text-center text-2xl;
}

.tab-grid {
	@apply grid gap-8 md:grid-cols-2;
}

.tab-grid img {
	@apply w-full rounded-xl shadow-lg;
}

/* Animated link */
.animated-link {
	position: relative;
}

.animated-link:before {
	content: '';
	position: absolute;
	width: 0;
	bottom: -1px;
	left: 0;
	height: 2px;
	background-color: black;
	transition: all 0.15s ease-in-out;
}

.animated-link:hover:before {
	width: 100%;
}
