@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'League Spartan';
	font-display: swap;
	src: url('/fonts/LeagueSpartan.woff2') format('woff2');
}

/* Base */
html {
	font-weight: 450;
	font-family: 'League Spartan', system-ui, sans-serif;
}

header {
	font-weight: 700;
}

header nav li a {
	@apply transition hover:text-blue-700;
}

header nav .active, header nav .subactive {
	@apply text-blue-700
}

.page-heading {
	text-align: center;
	font-size: 3rem;
	line-height: 1;
	font-weight: 600;
}

/* /seat */
.seat-tabs {
	margin-top: 2.5rem;
	padding: 1.25rem;
	border-color: rgb(107 114 128);
	border-width: 2px;
	border-radius: 1.5rem;
}

.tab-title {
	font-size: 1.5rem;
	line-height: 2rem;
}

.tab-grid {
	display: grid;
	gap: 2.5rem;
}

@media (min-width: 768px) {
	.tab-grid {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

/* Animated link */
.animated-link {
	position: relative;
}

.animated-link:before {
	content: '';
	position: absolute;
	width: 0;
	bottom: -5px;
	left: 0;
	height: 2px;
	background-color: black;
	transition: all 0.15s ease-in-out;
}

.animated-link:hover:before {
	width: 100%;
}