@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Jost';
	font-display: swap;
	src: url('/fonts/Jost.woff2') format('woff2');
}

/* Base */
html {
	font-family: 'Jost', system-ui, sans-serif;
}

h2 {
	@apply tracking-tight;
}

header {
	font-weight: 700;
}

header nav li a {
	@apply transition hover:text-blue-700;
}

header nav .active, header nav .subactive {
	@apply text-blue-700
}

.page-heading {
	@apply tracking-tight;
	text-align: center;
	font-size: 3rem;
	line-height: 1;
	font-weight: 600;
}

.button-link {
	@apply rounded-3xl tracking-tight bg-gradient-to-r px-6 py-3 text-xl font-semibold text-white transition-all hover:bg-gradient-to-br active:translate-y-[1px];
}

/* /seat */
.seat-tabs {
	margin-top: 2.5rem;
	padding: 1.25rem;
	border-color: rgb(107 114 128);
	border-width: 2px;
	border-radius: 1.5rem;
}

.tab-title {
	font-size: 1.5rem;
	line-height: 2rem;
}

.tab-grid {
	@apply grid gap-5 md:grid-cols-2;
}

/* Animated link */
.animated-link {
	position: relative;
}

.animated-link:before {
	content: '';
	position: absolute;
	width: 0;
	bottom: -1px;
	left: 0;
	height: 2px;
	background-color: black;
	transition: all 0.15s ease-in-out;
}

.animated-link:hover:before {
	width: 100%;
}